section img {
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 18%, 0 100%);
}

.text-container {
    color   : #fff;
    position: absolute;
    top     : 90px;
    left    : 10px;
}

.text-container h1 {
    color    : #fff;
    font-size: 18px;
}

.text-container p {
    font-size: 12px;
}

.text-container p.first {
    margin-bottom: 10px;
}

.form-container {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: 4%;
    margin-top: -8%;
}

.form-group {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.form-control {
    width        : 100%;
    padding      : 5px 0px;
    padding-left : 10px;
    border-radius: 2px;
    border       : none;
}

.form-control::placeholder,
select {
    font-size: 10px;
    color    : #bdbdbd;
}

.form-inline {
    width: 49%;
}

.btn-submit {
    font-size       : 10px;
    display         : block;
    margin-left     : auto;
    cursor          : pointer;
    border-radius   : 4px;
    color           : #fff;
    background-color: #000;
    border          : none;
    padding         : 7px 20px;
    transition      : all .4s;
}

.btn-submit:hover {
    background-color: tomato;
}

@media screen and (min-width: 668px) {
    .text-container {
        top : 110px;
        left: 30px;
    }

    .form-container {
        width       : 40%;
        margin-right: 3%;
        margin-top  : -25%;
    }

    .text-container h1 {
        font-size: 2rem;
    }

    .text-container p {
        font-size: 14px;
    }
}

@media screen and (min-width: 960px) {
    section img {
        margin-top: -65px;
    }

    .text-container p {
        line-height: 30px;
    }

    .form-container {
        margin-top  : -30%;
        width       : 35%;
        margin-right: 3%;
    }
}

@media screen and (min-width: 1050px) {

    section img {
        margin-top: -65px;
    }

    .text-container {
        top : 140px;
        left: 6%;
    }

    .text-container h1 {
        font-size: 3rem;
    }

    .text-container p {
        font-size: 1rem;
    }

    .text-container p i {
        font-size: 1.3rem;
    }

    .form-container {
        width       : 32%;
        margin-top  : -30%;
        margin-right: 3%;
    }
}